:root {
    --bs-primary: #c00000;
    --bs-secondary: #740202;
    --bs-primary-rgb: 192, 0, 0;
    --bs-secondary-rgb: 116, 2, 2;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #fdf8f2;
}