:root {
    --bs-primary: #c00000;
    --bs-secondary: #740202;
    --bs-primary-rgb: 192, 0, 0;
    --bs-secondary-rgb: 116, 2, 2;
}
.bgFrame {
    background-color: #f5f0eb;
}
.btn-main {
    color: #fff;
    background-color: #c00000;
    border-color: #c00000;
    box-shadow: none;
}

    .btn-main:active, .btn-main:focus, .btn-main:hover, .dropdown-toggle:hover, .show > .btn-main.dropdown-toggle {
        color: #fff;
        border-block-color: #910303;
        background-color: #910303;
        box-shadow: none;
        outline: none;
    }

.btn-primary {
    color: #fff;
    background-color: #740202;
    border-color: #740202;
    box-shadow: none;
}

    .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .dropdown-toggle:hover, .show > .btn-primary.dropdown-toggle {
        color: #fff;
        border-block-color: #5c0808;
        background-color: #5c0808;
        box-shadow: none;
        outline: none;
    }
.text-third {
    color: #1A4004;
}
.btn-secondary {
    color: #fff;
    border-block-color: #30730A;
    background-color: #30730A;
}

    .btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover, .dropdown-toggle:hover, .show > .btn-secondary.dropdown-toggle {
        color: #fff;
        border-block-color: #1A4004;
        background-color: #1A4004;
        box-shadow: none;
    }



html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #fdf8f2;
}